
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Montserrat", sans-serif
        }
        
        li,
        a,
        .logo .btn {
            font-family: "Montserrat", sans-serif
        }
        
        li,
        a {
            font-weight: 500;
            font-size: 18px;
            text-decoration: none;
            color: black;
        }
        
        .logo {
            font-weight: 500;
            font-size: 25px;
            text-decoration: none;
            color: white;
            line-height: 60px;
            margin-right: auto;
        }
        
        h2 {
            line-height: 60px;
        }
        
        img {
            max-width: 100%;
        }
        
        a.btn {
            text-decoration: none;
            font-size: medium;
            padding: 10px 20px;
        }
        
        .btn {
            border-radius: 10px;
            max-width: 100%;
            cursor: pointer;
            border-color: #673ab7;
            color: white;
            background: #673ab7;
            isolation: isolate;
        }
        
        footer {
            isolation: isolate;
            color: white;
        }
        
        .gallery {
            margin: 5px;
            border: 1px black;
            position: relative;
        }
        
        .gallery img {
            max-width: 100%;
            height: auto;
            display: block;
        }
        
      
        
        #bg {
            background: #201E20;
            ;
        }
        
        .postion {
            display: inline-block;
            padding-right: 2px;
        }
        
        .column {
            float: left;
            padding: 0px;
            width: 20%;
        }
        
        .row::after {
            content: "";
            clear: both;
            display: table;
        }