html, body {
    height: 100%;
}

img {
    max-width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif
}

/* cover */
#cover {
    background: #222 url('../background-min.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

#cover hr {
    margin: auto;
    width: 40%;
    height: 10px;
}

.spaced {
    letter-spacing: 10px;
}

/* carousel */
#carousel-home {
    height: 695px;
}
.carousel-inner, .carousel-item,.carousel-inner img {
    height: 100%;
}

/* section content */
.section-content {
    padding: 5rem 0;
}

/* about section */

.about-text {
    padding: 1.875rem;
}

.about-text i {
    font-size: 20px;
    padding: 2px;
}

/* footer */
#footer-main {
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}

.footer-socials i {
    font-size: 30px;
    padding: 5px;
}