.light {
    background-color: #fff;
    color: black;
}

.light .member-info {
    background-color: white;
}

.light .member-info h4 {
    color: black;
}

.light .team {
    background-color: #eee;
    color: black;
}

.light .team strong,
.light .team p,
.light.row {
    background-color: #eee;
    color: black;
}

.light #footer {
    background-color: white;
    color: black;
}

.light #footer .footer-newsletter form input[type="email"] {
    background-color: #eee;
    color: black;
}

.light .nav-menu .drop-down ul a {
    background-color: white;
    color: black;
    font-weight: bolder;
}

.light #topbar {
    background-color: #fff;
}

.light .nav-menu .drop-down ul {
    background-color: white;
    color: black;
    border: #eee 1px solid;
}

.light .mobile-nav a {
    color: black;
}

.light .mobile-nav {
    background-color: white;
}

.light .preloader {
    background-color: white;
    color: black;
}

.light #footer .footer-links h4 {
    color: black;
}

.light #footer .credits a {
    color: black;
}

.light #footer .footer-top .footer-links ul a {
    color: rgba(17, 17, 17, 0.836);
}

.light #footer .footer-newsletter p {
    color: rgba(17, 17, 17, 0.836);
}

.light #footer .footer-newsletter h4 {
    color: rgba(17, 17, 17, 0.836);
}

.light #footer .footer-top .footer-contact p {
    color: rgba(17, 17, 17, 0.836)
}

.light p,
.light h1,
.light strong {
    color: black;
}