.btn {
    border-radius: 10px;
    max-width: 100%;
    cursor: pointer;
    border-color: #4CAF50;
    color: white;
    background: #4CAF50;
    isolation: isolate;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

li,
a,
.logo {
    font-family: "Montserrat", sans-serif
}

li,
a {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.logo {
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    color: white;
    line-height: 60px;
    margin-right: auto;
}

h2 {
    line-height: 60px;
}

footer {
    background: #201E20;
    isolation: isolate;
    color: white;
}

a.btn {
    text-decoration: none;
    font-size: medium;
    padding: 10px 20px;
}

.bg-dark {
    color: #4CAF50;
}

#bg {
    background: #201E20;
    ;
}

.postion {
    display: inline-block;
    padding-right: 2px;
}